<br>
<br>
<h1 class="title is-1">Dashboard</h1>
<progress class="progress is-primary" value="100" max="100">
  45%
</progress>
<div class="table-container">
    <table  class="table is-striped is-large is-hoverable is-fullwidth">
      <tr >
        <th>
      <h3 class="has-text-primary is-medium" style="font-size: x-large;">
       <b> Dashboard Id: </b>{{ dashboards[0].id}}
      </h3>
      <p class="has-text-danger" style="font-size: x-large;"> <b>No. of transactions: </b> {{ dashboards[0].numberOfTransactions }}</p>
      <p  class="has-text-warning" style="font-size: x-large;"> <b>No. of Withdrawals: </b> ${{ dashboards[0].numberOfWithdrawals }}</p>
      <br>
    
        </th>
      </tr>
    </table>
    </div>
    
