<div class="table-container">
<table class="table is-striped is-large is-hoverable is-fullwidth">
  <tr>
    <th>
  <h3 class="has-text-primary is-medium" style="font-size: x-large;">
   <b> Account-Number: </b>{{ account.accountNumber }}
  </h3>
  <p class="has-text-danger" style="font-size: x-large;"> <b>Account-Type: </b> {{ account.accountType }}</p>
  <p  class="has-text-warning" style="font-size: x-large;"> <b>Balance: </b> ${{ account.balance }}</p>
  <br>

    </th>
  </tr>
</table>
</div>
